@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Bold.woff") format("woff2"),
    url("../assets/fonts/SpaceMono-Bold.woffSpaceMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --clr--brand-prim: hsl(172, 67%, 45%);
  --clr--brand-dk: hsl(183, 100%, 15%);
  --clr--brand-md: hsl(183, 78%, 24%);
  --clr--brand-lt: hsl(172, 61%, 77%);
  --clr--neutral-dk: hsl(186, 14%, 43%);
  --clr--neutral-md: hsl(184, 14%, 56%);
  --clr--neutral-lt: hsl(185, 41%, 84%);
  --clr--neutral-xlt: hsl(189, 41%, 97%);
  --clr--warning: hsl(13, 70%, 61%);
  --clr--white: hsl(0, 0%, 100%);

  /* colors: backgrounds */
  --clr--bg-main: var(--clr--neutral-lt);
  --clr--bg-app: var(--clr--white);
  --clr--bg-output: var(--clr--brand-dk);

  /* colors: inputs */
  --clr--input-num: var(--clr--neutral-xlt);
  --clr--input-num-focus: var(--clr--brand-prim);
  --clr--input-num-error: var(--clr--warning);
  --clr--input-num-text: var(--clr--brand-dk);
  --clr--input-num-placeholder: var(--clr--neutral-md);
  --clr--radio: var(--clr--brand-dk);
  --clr--radio-checked: var(--clr--brand-prim);
  --clr--radio-hover: var(--clr--brand-lt);
  --clr--radio-text: var(--clr--white);
  --clr--radio-text-checked: var(--clr--brand-dk);
  --clr--radio-text-hover: var(--clr-brand-dk);
  --clr--radio-cust: var(--clr--neutral-xlt);
  --clr--radio-cust-focus: var(--clr--brand-prim);
  --clr--radio-text-cust: var(--clr--neutral-dk);
  --clr--radio-text-cust-focus: var(--clr--brand-dk);

  /* colors: output */
  --clr--output-text: var(--clr-brand-prim);

  /* colors: labels */
  --clr--label-input: var(--clr--neutral-dk);
  --clr--label-output: var(--clr--white);
  --clr--label-output-span: var(--clr--neutral-md);

  /* colors: reset button */
  --clr--btn-active: var(--clr--brand-prim);
  --clr--btn-inactive: var(--clr--brand-md);
  --clr--btn-hover: var(--clr--brand-lt);
  --clr--btn-text: var(--clr--brand-dk);

  /* colors: error message */
  --clr--error-text: var(--clr--warning);

  /* typography */
  --ff-app: "Space Mono", sans-serif;
  --fw-b: 700;
  --fs-1: 0.8125rem;
  --fs-2: 1rem;
  --fs-3: 1.25rem;
  --fs-4: 1.5rem;
  --fs-5: 2rem;
}

/* Andy Bell CSS reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
