@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Bold.woff") format("woff2"),
    url("../assets/fonts/SpaceMono-Bold.woffSpaceMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --clr--brand-prim: hsl(172, 67%, 45%);
  --clr--brand-dk: hsl(183, 100%, 15%);
  --clr--brand-md: hsl(183, 78%, 24%);
  --clr--brand-lt: hsl(172, 61%, 77%);
  --clr--neutral-dk: hsl(186, 14%, 43%);
  --clr--neutral-md: hsl(184, 14%, 56%);
  --clr--neutral-lt: hsl(185, 41%, 84%);
  --clr--neutral-xlt: hsl(189, 41%, 97%);
  --clr--warning: hsl(13, 70%, 61%);
  --clr--white: hsl(0, 0%, 100%);

  /* colors: backgrounds */
  --clr--bg-main: var(--clr--neutral-lt);
  --clr--bg-app: var(--clr--white);
  --clr--bg-output: var(--clr--brand-dk);

  /* colors: inputs */
  --clr--input-num: var(--clr--neutral-xlt);
  --clr--input-num-focus: var(--clr--brand-prim);
  --clr--input-num-error: var(--clr--warning);
  --clr--input-num-text: var(--clr--brand-dk);
  --clr--input-num-placeholder: var(--clr--neutral-md);
  --clr--radio: var(--clr--brand-dk);
  --clr--radio-checked: var(--clr--brand-prim);
  --clr--radio-hover: var(--clr--brand-lt);
  --clr--radio-text: var(--clr--white);
  --clr--radio-text-checked: var(--clr--brand-dk);
  --clr--radio-text-hover: var(--clr-brand-dk);
  --clr--radio-cust: var(--clr--neutral-xlt);
  --clr--radio-cust-focus: var(--clr--brand-prim);
  --clr--radio-text-cust: var(--clr--neutral-dk);
  --clr--radio-text-cust-focus: var(--clr--brand-dk);

  /* colors: output */
  --clr--output-text: var(--clr-brand-prim);

  /* colors: labels */
  --clr--label-input: var(--clr--neutral-dk);
  --clr--label-output: var(--clr--white);
  --clr--label-output-span: var(--clr--neutral-md);

  /* colors: reset button */
  --clr--btn-active: var(--clr--brand-prim);
  --clr--btn-inactive: var(--clr--brand-md);
  --clr--btn-hover: var(--clr--brand-lt);
  --clr--btn-text: var(--clr--brand-dk);

  /* colors: error message */
  --clr--error-text: var(--clr--warning);

  /* typography */
  --ff-app: "Space Mono", sans-serif;
  --fw-b: 700;
  --fs-1: 0.8125rem;
  --fs-2: 1rem;
  --fs-3: 1.25rem;
  --fs-4: 1.5rem;
  --fs-5: 2rem;
}

/* Andy Bell CSS reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr--bg-main);
}

main {
  flex: 1 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 3rem auto;
}

.wrapper {
  margin-top: auto;
  padding: 2rem;
  width: min(100vw, 57.5rem);
  background-color: var(--clr--bg-app);
  display: grid;
  font-family: var(--ff-app);
  font-weight: var(--ff-b);
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.input-label {
  display: block;
  color: var(--clr--label-input);
  font-size: var(--fs-2);
  margin-bottom: 0.625rem;
}

.input-container {
  position: relative;
}

.input {
  font-size: var(--fs-4);
  padding: 0.5rem 1rem;
  max-width: 100%;
  width: 100%;
  text-align: right;
  background-color: var(--clr--input-num);
  color: var(--clr--input-num-text);
  border: 1px solid transparent;
  border-radius: 0.3125rem;
  outline: none;
}

.input:focus {
  border-color: var(--clr--input-num-focus);
}

.input-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
  color: var(--clr--neutral-dk);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tip-amount__item {
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tip-amount__label {
  display: block;
  padding: 0.75rem 1.5rem;
  background-color: var(--clr--radio);
  color: var(--clr--radio-text);
  border-radius: 0.3125rem;
  cursor: pointer;
  text-align: center;
  font-size: var(--fs-4);
  transition: background-color 0.3s, color 0.3s;
  max-width: 100%;
  outline: none;
  border: 2px solid transparent;
}

.tip-amount__label:hover,
.tip-amount__label:focus {
  background-color: var(--clr--radio-hover);
  color: var(--clr--radio-text-hover);
}

.tip-amount__label:active {
  background-color: var(--clr--radio-checked);
  color: var(--clr--radio-text-checked);
}

.custom__label {
  background-color: var(--clr--neutral-xlt);
  color: var(--clr--neutral-dk);
}

.custom__label:hover,
.custom__label:focus {
  background-color: var(--clr--radio-cust-focus);
  border: var(--clr--radio-text-cust-focus);
}

.tip-amount__input-custom {
  display: none;
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: var(--clr--radio-cust);
  border-radius: 0.3125rem;
  outline: none;
  border: 2px solid transparent;
  color: var(--clr--radio-text-cust-focus);
  text-align: right;
  font-size: var(--fs-4);
}

.tip-amount__input-custom:focus {
  border-color: var(--clr--radio-cust-focus);
}

.output {
  background-color: var(--clr--brand-dk);
  border-radius: 0.9375rem;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.output__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.output__heading {
  color: var(--clr--white);
  font-size: var(--fs-2);
  margin: 0;
}

.person {
  display: block;
  color: var(--clr--label-output-span);
  font-size: var(--fs-1);
  margin-top: 0.5rem;
}

.output__tip-amount {
  font-size: var(--fs-5);
  color: var(--clr--brand-prim);
  text-align: right;
  margin: 0;
}

.btn-reset[disabled] {
  background-color: var(--clr--btn-inactive);
}

.footer {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
